<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-content>
            <div *ngFor="let control of jsonFormData?.controls">
                <ng-container [ngSwitch]="control.type">
                    <mat-form-field *ngSwitchCase="inputControlTypes | switchMultiCase:control.type" form-input>
                        <mat-label *ngIf="control.label !== ''">{{ control.label }}</mat-label>
                        <input matInput type="{{control.type}}"
                               formControlName="{{control.name}}"
                               value="{{control.value}}"/>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="'textarea'" form-input>
                        <mat-label *ngIf="control.label !== ''">{{ control.label }}</mat-label>
                        <textarea matInput formControlName="{{control.name}}" value="{{control.value}}"></textarea>
                    </mat-form-field>
                    <mat-checkbox *ngSwitchCase="'checkbox'" form-input
                                  formControlName="{{control.name}}"
                                  value="{{control.value}}">{{ control.label }}
                    </mat-checkbox>
                    <mat-slide-toggle *ngSwitchCase="'toggle'" form-input
                                      formControlName="{{control.name}}"
                                      checked="{{control.value}}">{{ control.label }}</mat-slide-toggle>
                    <div *ngSwitchCase="'range'" form-input>
                        <mat-label *ngIf="control.label !== ''">{{ control.label }}</mat-label>
                        <mat-slider
                            min="{{control.options?.min}}"
                            max="{{control.options?.max}}"
                            formControlName="{{control.name}}" value="{{control.value}}"></mat-slider>
                    </div>
                </ng-container>
            </div>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end stretch">
            <button mat-raised-button type="submit">Submit</button>
        </mat-card-actions>
    </mat-card>
</form>

